.main
  .artists
    %h1.artists__title ARTISTS
    %span.artists__double-line
    .artists__wrapper
      - @artists.each do |artist|
        = link_to artist_path(artist), class: "artist" do
          = render "shared/artists-list", artist: artist