- if controller_name != 'sessions'
  = link_to "LOG IN", new_session_path(resource_name), class: "field-login__btn"
  %br/
- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to "SIGN UP", new_registration_path(resource_name), class: "field-signup__btn"
  %br/