.main
  .articles
    %h1.articles__title LATEST ARTICLES
    %span.articles__double-line
    .articles__wrapper
      - @articles.each do |article|
        = link_to article_path(article), class: "article" do
          = render "shared/articles-list", article: article








