.main
  .main__black-box
    .videos
      .videos__title-box
        %h1.videos__title-box__title LATEST VIDEOS
        %span.videos__title-box__double-line
      .videos__videos-box
        .videos__videos-box__wrapper
          - @videos.each do |video|
            = link_to video_path(video), class: "video" do
              = render "shared/videos-list", video: video
      .videos__button-box
        .videos__button-box__more-btn MORE VIDEOS