.main
  .videos
    %h1.videos__title LATEST VIDEOS
    %span.videos__double-line
    .videos__wrapper
      - @videos.each do |video|
        .video
          = render "shared/videos-list", video: video