* {
  box-sizing: border-box;
}

.header {
  height: 60px;
  width: 100vw;
  padding: 0 100px;
  background-color: $black;
  position: fixed;
  z-index: 1;
  &__wrapper {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.menu {
  height: 100%;
  &__list {
    height: 100%;
    display: flex;
    &__link {
      display:block;
      &--user-name {
        height: 60px;
        line-height: 60px;
        margin-right: 30px;
        text-decoration: none;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 2px;
        color: $white;
      }
    }
    &__btn {
      margin-left: 20px;
      &:hover {
        cursor: pointer;
      }
      & i {
        line-height: 60px;
        color: $white;
        &:hover {
          color: $light-blue;
        }
      }
    }
  }
  & a {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    margin: 0 10px;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    color: $white;
    &:hover {
      text-decoration: underline;
    }
  }
}

#default-menu {
  display: block;
}

#user-menu {
  display: none;
}


.main {
  width: 100vw;
  padding-top: 60px;
  overflow: scroll;
}

.articles {
  padding: 40px 100px;
  background-color: $white;
  &__title {
    @include content-title($black);
  }
  &__double-line {
    @include double-line($black);
    margin-bottom: 30px;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    .article {
      @include articles-list(23%);
    }    
  }
}

.article-show {
  width: 60%;
  margin: 0 auto;
  &__head-box {
    width: 100%;
    margin: 30px 0;
    &__title {
      margin-bottom: 30px;
      text-align: center;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 28px;
      word-wrap: break-word;
    }
    &__double-line {
      @include double-line($black);
    }
  }
  &__image-box {
    width: 100%;
    margin-bottom: 30px ;
    &__image {
      width: 100%;
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center;
    }
  }
  &__text-box {
    width: 100%;
    margin-bottom: 60px;
    &__single-line {
      @include single-line($black);
    }
    &__text {
      padding: 30px 0;
      font-size: 16px;
    }
  }
  &__related-articles-box {
    width: 100%;
    margin-bottom: 30px;
    &__title {
      @include content-title($black);
    }
    &__single-line {
      @include single-line($black);
    }
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 30px 0;
      &__article {
        @include articles-list(31%);
      }
    }
  }
  &__button-box {
    height: 44px;
    &__back-btn {
      @include button;
      margin-bottom: 30px;
    }
  }
}