.artists {
  width: 90%;
  padding: 40px 0;
  margin: 0 auto;
  background-color: $white;
  &__title-box {
    width: 100%;
    &__title {
      @include content-title($black);
    }
    &__double-line {
      @include double-line($black);
      margin-bottom: 30px;
    }
  }
  &__artists-box {
    width: 100%;
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      .artist {
        @include artists-list(31%);
      } 
    }
  }
}

.artist-data {
  width: 70%;
  margin: 0 auto;
  background-color: $white;
  &__title-box {
    width: 100%;
    margin-bottom: 30px;
    &__name {
      @include content-title($black);
      height: 70px;
      line-height: 70px;
      font-size: 40px;
    }
    &__double-line {
      @include double-line($black);
    }
  }
  &__image-box {
    width: 100%;
    margin-bottom: 30px;
    &__image {
      width: 100%;
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center;
    }
  }
  &__button-box {
    width: 100%;
    margin-bottom: 60px;
    &__follow-btn {
      @include button;
    }
    &__following-btn {
      @include button;
      background-color: $black;
      color: $white;
    }
    &__back-btn {
      @include button;
      &:hover {
        cursor: pointer;
        color: $white;
        background-color: black;
      }
    }
  }
  &__text-box {
    width: 100%;
    margin-bottom: 60px;
    &__text {
      font-size: 16px;
      padding: 30px 0;
    }
    &__single-line {
      @include single-line($black);
    }
  }
  &__articles-box {
    width: 100%;
    margin-bottom: 60px;
    &__title {
      @include content-title($black);
    }
    &__single-line {
      @include single-line($black);
    }
    &__message {
      text-align: center;
      padding: 30px 0;
    }
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      padding: 30px 0;
      .article {
        @include articles-list(31%);
      } 
    }
  }
  &__videos-box {
    width: 100%;
    margin-bottom: 60px;
    &__title {
      @include content-title($black);
    }
    &__single-line {
      @include single-line($black);
    }
    &__message {
      text-align: center;
      padding: 30px 0;
    }
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      padding: 30px 0;
      .video {
        @include videos-list(31%);
        color: $black;
        border-bottom: 1px solid $black;
      }
    }
  }
}

