.account-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: $black;
  color: $white;
  &__inner {
    width: 40%;
  }
  &__header {
    height:50px;
    & h2 {
      line-height: 50px;
      text-align: center;
      font-size: 24px;
    }
  }
}

.double-line--white {
  @include double-line($white);
}

.user-form {
  padding: 30px;
}


.field-input {
  width:100%;
  margin-bottom: 20px;
  & input {
    height: 40px;
    width: 100%;
    border: none;
    text-align: center;
    background-color: $black;
    color: $white;
    border-bottom: 1px solid $white;
    &:focus {
      outline: 0;
      border-bottom: 1px solid $purple;
    }
    &::placeholder {
      color:$white;
      text-align: center;
    }
  }
}


.field-login {
  width: 100%;
  height: 46px;
  &__btn {
    display: block;
    height: 100%;
    width: 33%;
    border: 2px solid $dark-blue;
    margin: 0 auto;
    line-height: 42px;
    font-size: 18px;
    color: $dark-blue;
    background-color: $black;
    text-decoration:none;
    text-align: center;
    &:hover {
      cursor: pointer;
      background-color:$dark-blue;
      color: $white;
    }
  }
}

.field-message {
  margin: 40px 0  20px;
  text-align: center;
}

.field-signup {
  @extend .field-login;
  &__btn{
    @extend .field-login__btn;
    border: 2px solid $dark-green;
    color: $dark-green;
    &:hover {
      background-color: $dark-green;
      color: $white;
    }
  }
}

.field-update {
  @extend .field-login;
  &__btn{
    @extend .field-login__btn;
    border: 2px solid $orange;
    color: $orange;
    &:hover {
      background-color:$orange;
      color: $white;
    }
  }
}

.mypage {
  width: 70%;
  margin: 0 auto;
  &__title-box {
    margin-bottom: 60px;
    &__title {
      @include content-title($black);
      height: 70px;
      line-height: 70px;
      font-size: 40px;
    }
    &__double-line {
      @include double-line($black);
    }
  }
  &__favorite-artists-box {
    width: 100%;
    margin-bottom: 60px;
    &__title {
      @include content-title($black);
    }
    &__artists {
      margin: 30px 0;
      &__message {
        text-align: center
      }
      &__wrapper {
        display: flex;
        flex-wrap: wrap;
        .favorite-artist {
          @include artists-list(48%);
        } 
      }
    }
    &__single-line {
      @include single-line($black)
    }
  }
  &__favorite-articles-box {
    width: 100%;
    margin-bottom: 60px;
    &__title {
      @include content-title($black);
    }
    &__articles {
      margin: 30px 0;
      &__message {
        text-align: center
      }
      &__wrapper {
        display: flex;
        flex-wrap: wrap;
        .article {
          @include articles-list(31%);
        } 
      }
    }
    &__single-line {
      @include single-line($black)
    }
  }
  &__favorite-videos-box {
    width: 100%;
    margin-bottom: 60px;
    &__title {
      @include content-title($black);
    }
    &__videos {
      margin: 30px 0;
      &__message {
        text-align: center
      }
      &__wrapper {
        display: flex;
        flex-wrap: wrap;
        .video {
          @include videos-list(31%);
          color: $black;
          border-bottom: 1px solid $black;
        }
      }
    }
    &__single-line {
      @include single-line($black)
    }
  }
}