.videos {
  width:90%;
  margin: 0 auto;
  padding: 40px 0;
  &__title-box {
    width: 100%;
    margin-bottom: 30px;
    &__title {
      @include content-title($white);
    }
    &__double-line {
      @include double-line($white);
    }
  }
  &__videos-box {
    width: 100%;
    margin-bottom: 30px;
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;
      .video {
        @include videos-list(23%);
      }
    }
  }
  &__button-box {
    width: 100%;
    &__more-btn {
      @include button;
      border: 1px solid $white;
      background-color: $black;
      color: $white;
      &:hover {
        background-color: $white;
        color: $black;
      }
    }
  }
}


.video-show {
  display: block;
  padding-bottom: 30px; 
  background-color: #000;
  &__info {
    width: 70%;
    margin: 0 auto;
    &__title {
      @include content-title($white);
      height: 40px;
      line-height: 40px;
      font-size: 18px;
    }
    &__double-line {
      @include double-line($white);
      margin-bottom: 30px;
    }
    &__player {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      margin-bottom: 80px;
      & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    &__artist-info {
      width: 50%;
      margin: 80px auto;
      &__title {
        @include content-title($white);
        height: 40px;
        line-height: 40px;
        font-size: 18px;
      }
      &__single-line {
        @include single-line($white);
        margin-bottom: 30px;
      }
      &__image {
        width: 100%;
        margin-bottom: 30px;
      }
      &__name-box {
        width: 50%;
        margin: 0 auto;
        &__single-line {
          @include single-line($white);
        }
        &__name {
          height: 36px;
          line-height: 36px;
          text-align: center;
          display: block;
          color: $white;
          text-decoration: none;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
    &__other-videos-message {
      @include content-title($white);
      font-size: 16px;
    }
    &__other-videos-single-line {
      @include single-line($white);
      margin-bottom: 30px;
    }
    &__other-videos-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;
      .other-video {
        @include videos-list(31%);
      }
    }
    &__button-box {
      height: 44px;
      &__back-btn {
        @include button;
        border: 1px solid $white;
        background-color: $black;
        color: $white;
        &:hover {
          cursor: pointer;
          color: $black;
          background-color: $white;
        }
      }
      &__add-favorite-btn {
        @include button;
        border: 1px solid $yellow;
        background-color: $black;
        color: $white;
        &:hover {
          cursor: pointer;
          color: $white;
          background-color: $black;
        }
      }
      &__remove-favorite-btn {
        @include button;
        border: 1px solid $yellow;
        background-color: $yellow;
        color: $white;
        &:hover {
          cursor: pointer;
          color: $white;
          background-color: $yellow;
        }
      }
    }
  }
}
